@keyframes fadIn {
  from {
    transform: translateY(20px);
  }
  to {
    transform: none;
  }
}
.mypage {
  position: relative;
  animation: fadIn 0.5s ease-in-out;
}
.myPageBtnImg {
  z-index: 9;
  width: 100px;

  top: 130px;
  left: 780px;
  position: relative;
}

.Bookbtn {
  width: 150px;
  cursor: pointer;
  position: absolute;
}
.Drawbtn {
  top: 110px;
  cursor: pointer;
  position: absolute;
}

.myPageImg {
  top: 90px;
  right: 230px;
  position: fixed;
}
.logOut {
  top: 610px;
  left: 550px;

  cursor: pointer;
  position: absolute;
}

.myPageID {
  z-index: 9;
  top: 415px;
  left: 530px;
  font-size: 32px;

  position: absolute;
}
.myPageP {
  z-index: 9;
  font-size: 36px;
  top: 530px;
  left: 615px;

  position: absolute;
}
