.bookBackImg {
  height: 800px;
  right: 160px;
  position: fixed;
}

.bottomBtn {
  top: 550px;
  position: fixed;
}

.backBtn {
  width: 100px;
  height: 40px;

  font-size: 17px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;

  top: 170px;
  left: 220px;
  position: absolute;
}

.Bookbook {
  top: 100px;
  left: 260px;

  z-index: 8;
  width: 1000px;
  position: fixed;

  > img {
    width: 190px;
    margin-right: 140px;
    margin-top: 125px;
    cursor: pointer;
  }
}

.Paging {
  width: 100px;
  position: relative;
  top: 700px;
  left: 600px;
}
.PagingBtn {
  white-space: pre;
  cursor: pointer;
  position: relative;
}

.pagination {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;

  > * {
    cursor: pointer;
  }
}

.pagination__link {
  transition: all 0.25s;
  padding: 0.2rem 0.6rem;
  border-radius: 0.3rem;
}

.pagination__link__active {
  background-color: #bbb;
  color: #fefefe;
}
